@import '_base.scss';

.header {
    display: flex;
    height: 45px;
    color: #fff;
    font-size: 15px;
    justify-content: flex-end;
    align-items: center;
    background-color: #393e46;
}

.dropdown {
    display: flex;
    height: 45px;
    justify-content: center;
    align-items: center;
}
